<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <script src="https://s3.ap-northeast-2.amazonaws.com/kiwiprojcdn/libs/three.js"></script>
        <script src="https://s3.ap-northeast-2.amazonaws.com/kiwiprojcdn/js/modifiedMath.js"></script>
        <script src="https://s3.ap-northeast-2.amazonaws.com/kiwiprojcdn/js/groundGeometry.js"></script>
        <script src="https://s3.ap-northeast-2.amazonaws.com/kiwiprojcdn/js/roverCamera.js"></script>

        <script>
            // 1 : 1 metre

            var camera, scene, renderer;
            var light;
            var geometry, material, ground;

            var theta = 0;

            var mouseX, mouseY = 0;

            init();
            animate();

            function init() {
                scene = new THREE.Scene();

                light = new THREE.DirectionalLight(0xffffff, 1);
                light.position.set(-10, 0, 10)
                light.castShadow = true;
                scene.add(light);

                camera = new RoverCamera(70, window.innerWidth / window.innerHeight, 0.01, 10000000
                    ,37.496688, 130.866764);
                //camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.01, 10000000);

                renderer = new THREE.WebGLRenderer();
                renderer.setSize(window.innerWidth, window.innerHeight);
                renderer.shadowMap.enabled = true;
                document.body.appendChild(renderer.domElement);

                geometry = new GroundGeometry(37, 130, camera);
                material = new THREE.MeshPhongMaterial({color: 0xffffff/*, side: THREE.DoubleSide*/});
                ground = new THREE.Mesh(geometry, material);
                ground.castShadow = true;
                ground.receiveShadow = true;
                scene.add(ground);

                //camera.setGroundMesh(ground);

                var yGeometry = new THREE.SphereBufferGeometry(1000);
                var yMaterial = new THREE.MeshBasicMaterial({color: 0xff0000});
                var yHelper = new THREE.Mesh(yGeometry, yMaterial);
                yHelper.position.set(0, 30000, 0);
                scene.add(yHelper);

                var xGeometry = new THREE.SphereBufferGeometry(1000);
                var xMaterial = new THREE.MeshBasicMaterial({color: 0x00ff00});
                var xHelper = new THREE.Mesh(xGeometry, xMaterial);
                xHelper.position.set(30000, 0, 0);
                scene.add(xHelper);

                /*var testGeometry = new THREE.SphereBufferGeometry(1000);
                var testMaterial = new THREE.MeshBasicMaterial({color: 0xffff00});
                var testHelper = new THREE.Mesh(testGeometry, testMaterial);
                var coord = geometry.latlongToCoord(37.542049, 130.902103);
                testHelper.position.set(coord[0], coord[1], 0);
                scene.add(testHelper);*/

                renderer.render(scene, camera);

                //camera.setGroundMesh(ground);
            }

            function animate() {
                requestAnimationFrame(animate);

                /*var pos = new THREE.Vector3(0, 0, 0);
                var mag = (window.innerWidth - mouseX) * 1000;
                var rot = (1 - (mouseY / window.innerHeight)) * (Math.PI / 2);
                pos.set(0, -mag * Math.cos(rot), mag * Math.sin(rot));

                camera.position.copy(pos);
                camera.lookAt(0, 0, 0);*/

                //camera.position.z += 10;

                //camera.setGroundMesh(ground);

                //camera.rotation.y += 0.01;

                //console.log('1: ' + new Date().getTime().toString());
                var ang = ((mouseX / window.innerWidth) - 1) * 360;
                camera.face(ang);

                //console.log('2: ' + new Date().getTime().toString());
                ang = (1/2 - (mouseY / window.innerHeight)) * 90;
                camera.lookUp(ang);

                //console.log('3: ' + new Date().getTime().toString());
                camera.updateAngle();

                //console.log('4: ' + new Date().getTime().toString());
                camera.forward(1);

                //console.log('5: ' + new Date().getTime().toString());
                renderer.render(scene, camera);
            }

            document.onmousemove = function(e) {
                mouseX = e.pageX;
                mouseY = e.pageY;
            }
        </script>
    </body>
</html>